<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dasolution</title>
</head>
<body>
    <h2>Welcome to Dasolution!</h2>
    <img src= "http://dasolution.vn/wp-content/uploads/2014/09/da-solution-website1.jpg" alt="Dasolution" />
    <b>
        <a href="dasolution.vn">Visit company</a>
    </b>
    <h3>Copyright by Tran Phuc</h3>
</body>
</html>